development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "https://priv-pub-heroku.herokuapp.com/faye"
  secret_token: "62ed491fee91416745be55f5034c94435c6ed9a0e323c26faa28740275d5baa6"
  signature_expiration: 3600 # one hour
